
@Model
@{
    ViewData["Title"] = "Yeni Kitap Ekleme";
}


<form>
    <div class="mb-3 form-check">
        <label for="KitapAdi" class="form-check-label">Kitap Adı</label>
        <input for="KitapAdi" type="text" class="form-control">
    </div>

    <div class="mb-3 form-check">
        <label for="Yazar" class="form-check-label">Yazar</label>
        <input for="Yazar" type="text" class="form-control">
    </div>

    <div class="mb-3 form-check">
        <label for="KitapTür" class="form-check-label">Kitap Tür</label>
        <input for="KitapTür" type="text" class="form-control">
    </div>

    <div class="mb-3 form-check">
        <label for="Yayınevi" class="form-check-label">Yayınevi</label>
        <input for="Yayınevi" type="text" class="form-control">
    </div>

    
    <button type="submit" class="btn btn-info">Kaydet</button>
</form>


     